@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap');

.content {
  display: flex;
  justify-content: center;
  margin: 120px 20px 0;
  padding: 0;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  width: 60%;
}

.basketTitle {
  align-self: center;
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.basketSubtitle {
  width: 100%;
  border-bottom: 0.5px solid #d9d9d9;
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 0 20px;
  padding: 0 0 20px;
}

.item {
  display: flex;
  width: 100%;
  margin: 0 0 20px;
}

.image {
  width: 30%;
  background: #f6f6f6;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  margin: 0 20px;
}

.tag {
  color: #757575;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
}

.title {
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 10px 0;
}

.text {
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0;
}

.subtitle {
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 30px;
  margin: 20px 0;
}

.removeBtn {
  background: transparent;
  border: none;
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  text-decoration: underline;
  font-size: 13px;
  letter-spacing: 1px;
  transition: opacity 0.5s ease;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.removeBtn:hover {
  opacity: 0.6;
}

.quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.countBtns {
  display: flex;
  justify-content: center;
  margin: 10px 0 0;
}

.countBtn {
  width: 30px;
  height: 30px;
  background: transparent;
  border: 0.5px solid #333;
  border-radius: 50%;
  outline: none;
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  margin: 0 7.5px;
  cursor: pointer;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 38%;
  background: #f6f6f6;
  border-radius: 5px;
  margin-left: calc(100% - (60% + 38%));
  padding: 20px;
}

.submitBtn {
  align-self: center;
  width: 80%;
  background: #333;
  border: 0.5px solid #333;
  border-radius: 50px;
  outline: none;
  color: #e5e5e5;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 20px;
  padding: 14px;
  cursor: pointer;
}
.submitBtn:hover {
  color: #fff;
}

.cancelBtn {
  outline: none;
  text-decoration: none;
  width: 80%;
  background: #fff;
  border: 0.5px solid #333;
  border-radius: 50px;
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  transition: opacity 0.5s ease;
  margin: 0 0 20px;
  padding: 14px;
  cursor: pointer;
}
.cancelBtn:hover {
  opacity: 0.6;
}

@media all and (max-width: 912px) {
  .left {
    width: 90%;
  }

  .submitBtn {
    font-size: 9px;
  }
}

@media all and (max-width: 540px) {
  .content {
    flex-direction: column;
    align-items: center;
    margin: 120px 20px 60px;
  }

  .left {
    width: 100%;
    margin: 0 0 40px;
  }

  .item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .image {
    width: 100%;
  }

  .info {
    width: 100%;
    margin: 20px 0 40px;
  }

  .subtitle,
  .removeBtn {
    align-self: center;
  }

  .right {
    width: 90%;
    margin: 0;
    padding: 5%;
  }

  .submitBtn {
    font-size: 11px;
  }
}
