@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap');

.cart {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  text-align: end;
  margin: 0;
  cursor: pointer;
}

.icon {
  align-self: center;
  width: 17px;
  height: 17px;
  padding: 0 0 0 20px;
}

.subtitle {
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 11px;
}

.text {
  width: 50px;
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 40px;
}

@media all and (max-width: 280px) {
  .text {
    width: 40px;
    font-size: 10px;
  }
}
