@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400&display=swap');

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  width: 25vw;
}

.title {
  align-self: center;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0;
}

.instruction {
  color: #808080;
  font-family: 'Urbanist', sans-serif;
  font-weight: 200;
  font-size: 11px;
  letter-spacing: 1px;
  margin: 10px 0;
}

.error {
  height: 11px;
  color: #d50001;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 1px;
  margin: 10px 0;
  padding: 0;
}

.submitBtn {
  align-self: center;
  width: 100%;
  background: #cacaca;
  border: 0.5px solid #cacaca;
  border-radius: 50px;
  outline: none;
  color: #fff;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: opacity 0.5s ease;
  margin: 20px 0;
  padding: 14px;
  cursor: pointer;
}
.submitBtn:hover {
  opacity: 0.6;
}

@media all and (max-width: 912px) {
  .form {
    width: 40vw;
  }
}

@media all and (max-width: 540px) {
  .form {
    width: 55vw;
  }

  .error {
    font-size: 8px;
  }
}
