@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap');

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 120px 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px;
}

.image {
  width: 28vw;
  background: #f6f6f6;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.subtitle {
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 40px;
  transition: opacity 0.5s ease;
  margin: 0;
  cursor: pointer;
}
.subtitle:hover {
  opacity: 0.6;
}

.text {
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 13px;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.addBtn {
  width: 50px;
  height: 50px;
  background: transparent;
  border: 0.5px solid #d6d6d6;
  border-radius: 50%;
  transition: opacity 0.5s ease;
  cursor: pointer;
}
.addBtn:hover {
  opacity: 0.6;
}

.icon {
  width: 18px;
  height: 18px;
}

.info {
  height: 40px;
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-decoration: underline;
}

@media all and (max-width: 540px) {
  .container {
    justify-content: center;
  }

  .image {
    width: 100%;
  }
}
