@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;600&display=swap');

.item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 120px 20px 0;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  background: #f6f6f6;
}

.image {
  width: 100%;
  height: 75vh;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 36%;
  margin-left: calc(100% - (60% + 36%));
}

.tag {
  color: #757575;
  font-family: 'Urbanist', sans-serif;
  font-weight: 200;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 13px;
  margin: 0 0 20px;
}

.title {
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
}

.description {
  width: 100%;
  border-bottom: 0.5px solid #d9d9d9;
  color: #757575;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 20px;
  margin: 20px 0 0;
  padding: 0 0 40px;
}

.text {
  align-self: center;
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 40px 0;
}

.block {
  align-self: center;
  width: 100%;
}

.countBtns {
  display: flex;
  justify-content: center;
}

.countBtn {
  width: 30px;
  height: 30px;
  background: transparent;
  border: 0.5px solid #333;
  border-radius: 50%;
  outline: none;
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  margin: 0 7.5px;
  cursor: pointer;
}

.addBtn {
  width: 100%;
  background: #333;
  border: 0.5px solid #333;
  border-radius: 50px;
  outline: none;
  color: #e5e5e5;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 14px;
  cursor: pointer;
}
.addBtn:hover {
  color: #fff;
}

.info {
  align-self: center;
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  text-decoration: underline;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin: 0;
}

@media all and (max-width: 912px) {
  .image {
    height: 30vh;
  }
}

@media all and (max-width: 800px) {
  .text {
    margin: 20px;
  }
}

@media all and (max-width: 540px) {
  .item {
    flex-direction: column;
    align-items: center;
    margin: 120px 20px 60px;
  }

  .left {
    width: 100%;
    margin: 0 0 40px;
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .right {
    width: 100%;
    margin-left: 0;
  }
}
