.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.content {
  width: 40vw;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  transform: scale(0.5);
  transition: 0.4s all;
}

.content.active {
  transform: scale(1);
}

.modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 40px;
}