@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap');

.container {
  display: flex;
  justify-content: center;
  margin: 120px 20px;
}

.text {
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0;
}
