@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap');

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
  width: 100%;
  height: 83px;
  background: linear-gradient(
    90deg,
    #f6f6f6 0%,
    rgba(252, 252, 252, 0.5) 70%,
    #f6f6f6 100%
  );
  border-bottom: 1px solid #f6f6f6;
}

.left {
  float: left;
  display: block;
  flex: 1;
  background: transparent;
  border: none;
  text-decoration: none;
  margin: 10px 0 0 20px;
}

.item {
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.5s ease;
  margin: 0 20px 0 0;
  cursor: pointer;
}
.item:hover {
  opacity: 0.4;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  height: 100%;
}

.logo {
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
}

.right {
  float: right;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  flex: 1;
  margin: 10px 20px 0 0;
}

.logoutBtn {
  height: 11px;
  background: transparent;
  border: none;
  color: #333;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.5s ease;
  margin: 0 20px 0 0;
  padding: 0;
  cursor: pointer;
}
.logoutBtn:hover {
  opacity: 0.4;
}

.loginBtn {
  width: 17px;
  height: 17px;
  background: transparent;
  border: none;
  transition: opacity 0.5s ease;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.loginBtn:hover {
  opacity: 0.4;
}

.icon {
  width: 17px;
  height: 17px;
}

.cart {
  float: right;
  background: transparent;
  border: none;
  text-decoration: none;
}
